@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: "Catamaran";
  scroll-behavior: smooth;
}

body {
  height: 100%;
}

h1 {
  font-family: "Catamaran";
  color: #202020;
  font-size: 4rem;
}

h2 {
  font-family: "Catamaran";
  color: #202020;
  font-size: 2.5rem;
}

p {
  font-family: "Catamaran";
  font-size: 1.2rem;
}

a {
  color: white;
}

body::-webkit-scrollbar {
  width: 9px;
}

body::-webkit-scrollbar-thumb {
  background-color: #f59b00;
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 80px;
}

.header-content {
  display: flex;
  width: 90%;
  height: 100vh;
  justify-content: space-around;
  margin: auto;
  overflow: hidden;
}

.header-content article.header-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0, 3rem;
  margin-bottom: 1rem;
}

.header-content article.header-item h1 {
  font-family: "Catamaran";
}

.header-content article.header-item p {
  font-family: "Catamaran";
}

.header-content .mas-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  /*--- btn-1 ---*/
  /* 4. hover-filled-slide-right */
}

.header-content .mas-servicios button.btn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px 25px 15px;
  min-width: 170px;
}

.header-content .mas-servicios button.btn a {
  position: relative;
  display: inline-block;
  font-size: 18px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: 0.3s;
  text-decoration: none;
  border-radius: 20px;
}

.header-content .mas-servicios .btn-1::before {
  background-color: #1c1f1e;
  transition: 0.3s ease-out;
  border-radius: 20px;
}

.header-content .mas-servicios .btn-1 a {
  color: white;
  border: 1px solid #1c1f1e;
  transition: 0.2s 0.1s;
}

.header-content .mas-servicios .btn-1 a:hover {
  color: #1c1f1e;
  transition: 0.2s 0.1s;
}

.header-content .mas-servicios .btn.hover-filled-slide-right::before {
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.header-content .mas-servicios .btn.hover-filled-slide-right:hover::before {
  width: 0%;
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.servicios-principales {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
  justify-content: space-between;
  margin-top: 6rem;
}

.servicios-principales article.servicio {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  padding: 1rem 1rem 0 2rem;
  margin: 2rem 1rem;
  text-align: center;
}

.servicios-principales article.shadow-left {
  box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, 0.55);
}

.servicios-principales article.card-border {
  border-radius: 15px;
}

.servicios-principales article.servicio p {
  text-align: center;
  font-family: "Catamaran";
  font-size: 1.2rem;
  /*  padding-top: 1rem; */
}

.servicios-principales article.servicio img {
  width: 40%;
  height: auto;
}

.servicios-principales article.h2-servicios {
  display: flex;
  justify-content: space-around;
  margin: 1rem 1rem;
}

.servicios-principales #btn-servicios {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.mas-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  /*--- btn-1 ---*/
  /* 4. hover-filled-slide-right */
}

.mas-servicios button.btn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px 25px 15px;
  min-width: 170px;
}

.mas-servicios button.btn a {
  position: relative;
  display: inline-block;
  font-size: 18px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: 0.3s;
  text-decoration: none;
  border-radius: 20px;
}

.mas-servicios ::before,
.mas-servicios ::after {
  position: absolute;
  content: '';
}

.mas-servicios :active,
.mas-servicios :hover,
.mas-servicios :focus {
  outline: 0 !important;
  outline-offset: 0;
}

.mas-servicios .btn-1::before {
  background-color: #1c1f1e;
  transition: 0.3s ease-out;
  border-radius: 20px;
}

.mas-servicios .btn-1 a {
  color: white;
  border: 1px solid #1c1f1e;
  transition: 0.2s 0.1s;
}

.mas-servicios .btn-1 a:hover {
  color: #1c1f1e;
  transition: 0.2s 0.1s;
}

.mas-servicios .btn.hover-filled-slide-right::before {
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.mas-servicios .btn.hover-filled-slide-right:hover::before {
  width: 0%;
}

section.section {
  padding: 4rem 4rem;
}

section.orientacion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 'h2         h2' 'paragraph  paragraph' 'personales pymes';
  column-gap: 3rem;
  row-gap: 1rem;
  margin-bottom: 2rem;
}

section.orientacion h2 {
  font-size: 2.5rem;
}

section.orientacion p {
  font-size: 1.2rem;
}

section.orientacion .orientacion-title {
  grid-area: h2;
  text-align: center;
  font-family: "Catamaran";
}

section.orientacion .orientacion-paragraph {
  grid-area: paragraph;
  font-family: "Catamaran";
}

section.orientacion article.orientacion-personales {
  grid-area: personales;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

section.orientacion article.orientacion-personales .card-border {
  border-radius: 15px;
}

section.orientacion article.orientacion-personales .shadow-right {
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.55);
}

section.orientacion article.orientacion-personales h2 {
  font-family: "Catamaran";
  text-align: center;
  margin: 1rem 2rem;
  font-size: 2.5rem;
}

section.orientacion article.orientacion-personales p {
  font-family: "Catamaran";
  font-size: 1.2rem;
}

section.orientacion article.orientacion-pymes {
  grid-area: pymes;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

section.orientacion article.orientacion-pymes .card-border {
  border-radius: 15px;
}

section.orientacion article.orientacion-pymes .shadow-right {
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.55);
}

section.orientacion article.orientacion-pymes h2 {
  font-family: "Catamaran";
}

section.orientacion article.orientacion-pymes p {
  font-size: 1.2rem;
  font-family: "Catamaran";
}

section.orientacion section.clientes h2.title-section {
  font-family: "Catamaran";
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

section.orientacion section.clientes p.card-text {
  font-family: "Catamaran";
  font-size: 1.2rem;
}

section.orientacion #btn-servicios {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.navbar-brand {
  font-size: 2rem;
  padding: none;
  margin-left: 1rem;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
}

a.nav-link {
  font-size: 21px;
  padding: 16px;
  margin-right: 3rem;
}

.row {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.col {
  margin: 2rem;
}

.row > * {
  margin: 1rem;
  padding-left: 0;
  padding-right: 0;
}

footer div.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(135deg, #3f3d56 0%, #4959a3 100%);
  color: #fff;
  width: 100%;
  height: 6rem;
  font-family: "Catamaran";
}

footer div.container-footer p {
  color: #fff;
}

footer div.container-footer div.social {
  padding: 1rem;
  margin-right: 2rem;
}

footer div.container-footer div.social a {
  color: #f59b00;
  font-size: 25px;
}

footer div.container-footer div.social a.hover {
  transform: scale(1.5);
}

footer div.container-footer div.social a i.fab {
  width: 3rem;
  font-weight: 200;
}

footer div.container-footer div.social a i.fab.fa-facebook.icon:hover {
  color: #f59b00;
  transform: scale(1.6);
}

footer div.container-footer div.social a i.fab.fa-instagram.icon:hover {
  color: #f59b00;
  transform: scale(1.6);
}

footer div.container-footer div.social a i.fab.fa-linkedin.icon:hover {
  color: #f59b00;
  transform: scale(1.6);
}

footer div.container-footer div.social a i.fab.fa-github-square.icon:hover {
  color: #f59b00;
  transform: scale(1.6);
}

.hero-img-nosotros {
  background-image: url(../assets/nosotros-img.jpg);
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero-img-nosotros .hero-img-content {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.7;
  background-image: linear-gradient(135deg, #3f3d56 0%, #4959a3 100%);
}

.hero-img-nosotros .hero-img-content h1 {
  color: #f59b00;
}

.hero-img-nosotros .hero-img-content p {
  color: white;
}

section.section {
  padding: 4rem 4rem;
}

section.sobre-nosotros {
  display: grid;
  grid-template-areas: 'grupo-especial  grupo-especial' 'para            para' 'item1           description1' 'description2    item2' 'item3           description3';
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  column-gap: 2rem;
  row-gap: 1rem;
}

section.sobre-nosotros .sobre-nosotros img {
  width: 100%;
  height: auto;
}

section.sobre-nosotros .sobre-nosotros h2,
section.sobre-nosotros p {
  text-align: center;
}

section.sobre-nosotros .grupo-especial {
  grid-area: grupo-especial;
  justify-self: center;
  align-self: center;
}

section.sobre-nosotros .title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

section.sobre-nosotros .para {
  grid-area: para;
  justify-self: center;
  align-self: center;
}

section .nosotros-item1 {
  grid-area: item1;
  justify-self: center;
  align-self: center;
}

section .nosotros-item1 .shadow-right {
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.55);
}

section .nosotros-item1 .card-border {
  border-radius: 15px;
}

section article.description1 {
  grid-area: description1;
  justify-self: center;
  align-self: center;
}

section article.shadow-right {
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.55);
}

section article.card-border {
  border-radius: 15px;
}

section article h2 {
  text-align: center;
}

section article.description2 {
  grid-area: description2;
  justify-self: center;
  align-self: center;
}

section article.shadow-left {
  box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, 0.55);
}

section article.card-border {
  border-radius: 15px;
}

section .nosotros-item2 {
  grid-area: item2;
  justify-self: center;
  align-self: center;
}

section .nosotros-item2 .shadow-right {
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.55);
}

section .nosotros-item2 .card-border {
  border-radius: 15px;
}

section .nosotros-item3 {
  grid-area: item3;
  justify-self: center;
  align-self: center;
}

section .nosotros-item3.shadow-left {
  box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, 0.55);
}

section .nosotros-item3 .card-border {
  border-radius: 15px;
}

section article.description3 {
  grid-area: description3;
  justify-self: center;
  align-self: center;
}

section article.description3.shadow-right {
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.55);
}

section article.description3.card-border {
  border-radius: 15px;
}

.header-content {
  display: flex;
  width: 90%;
  height: 100vh;
  justify-content: space-around;
  margin: auto;
  overflow: hidden;
}

.header-content article.header-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0, 3rem;
  margin-bottom: 1rem;
}

.header-content article.header-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0, 3rem;
  margin-bottom: 1rem;
}

.header-content .header-item h1 {
  margin-bottom: 1rem;
}

.header-content .header-item p {
  margin-bottom: 2rem;
}

section.section {
  margin: 4rem 4rem;
}

section .title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

section .servicios-principales {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
  justify-content: space-between;
  margin-top: 6rem;
}

section .servicios-principales .servicio {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  padding: 1rem 1rem 0 2rem;
  margin: 2rem 1rem;
  text-align: center;
  /*--- btn-1 ---*/
  /* 4. hover-filled-slide-right */
}

section .servicios-principales .servicio button.btn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px 25px 15px;
  min-width: 170px;
}

section .servicios-principales .servicio button.btn a {
  position: relative;
  display: inline-block;
  font-size: 18px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: 0.3s;
  text-decoration: none;
  border-radius: 20px;
}

section .servicios-principales .servicio ::before,
section .servicios-principales .servicio ::after {
  position: absolute;
  content: '';
}

section .servicios-principales .servicio :active,
section .servicios-principales .servicio :hover,
section .servicios-principales .servicio :focus {
  outline: 0 !important;
  outline-offset: 0;
}

section .servicios-principales .servicio .btn-1::before {
  background-color: #1c1f1e;
  transition: 0.3s ease-out;
  border-radius: 20px;
}

section .servicios-principales .servicio .btn-1 a {
  color: white;
  border: 1px solid #1c1f1e;
  transition: 0.2s 0.1s;
}

section .servicios-principales .servicio .btn-1 a:hover {
  color: #1c1f1e;
  transition: 0.2s 0.1s;
}

section .servicios-principales .servicio .btn.hover-filled-slide-right::before {
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

section .servicios-principales .servicio .btn.hover-filled-slide-right:hover::before {
  width: 0%;
}

section .servicios-principales .servicio .modalmask {
  position: fixed;
  font-family: Arial, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

section .servicios-principales .servicio .modalmask:target {
  opacity: 1;
  pointer-events: auto;
  /*Formato de la ventana*/
  /*movimiento*/
}

section .servicios-principales .servicio .modalmask:target .modalbox {
  width: 800px;
  position: relative;
  padding: 5px 20px 13px 20px;
  background: #fff;
  border-radius: 3px;
  transition: all 500ms ease-in;
}

section .servicios-principales .servicio .modalmask:target .rotate {
  margin: 10% auto;
  transform: scale(-5, -5);
}

section .servicios-principales .servicio .modalmask:target .resize {
  margin: 10% auto;
  width: 0;
  height: 0;
}

section .servicios-principales .servicio .modalmask:target .modalmask:target .movedown {
  margin: 10% auto;
}

section .servicios-principales .servicio .modalmask:target .modalmask:target .rotate {
  transform: rotate(360deg) scale(1, 1);
  -webkit-transform: rotate(360deg) scale(1, 1);
}

section .servicios-principales .servicio .modalmask:target .modalmask:target .resize {
  width: 400px;
  height: 200px;
}

section .servicios-principales .servicio .modalmask:target .movedown {
  margin: 0 auto;
}

section .servicios-principales .servicio .modalmask:target .movedown .close {
  background: #606061;
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
}

section .servicios-principales .servicio .modalmask:target .movedown .close:hover {
  background: #faac58;
  color: #222;
}

/* --------------------------- servicios paralelos -------------------------- */
section.section {
  margin: 4rem 4rem;
}

section div.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

section article.container-testimonios {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  margin-bottom: 4rem;
}

section article.container-testimonios .item-testimonio {
  background-color: var(--text-button);
  border: thin solid var(--background-ligth);
  object-fit: cover;
  border-radius: 20px;
  width: 40%;
  margin: 2rem auto;
  margin-bottom: 4rem;
  height: 100%;
  object-fit: cover;
}

section article.container-testimonios .item-testimonio h2 {
  text-align: center;
  padding-bottom: 1rem;
}

section article.container-testimonios .shadow-center {
  box-shadow: -2px 12px 38px -2px rgba(0, 0, 0, 0.7);
}

section article.container-testimonios .shadow-center .img-testimonio {
  background-color: var(--text-second);
  width: 100%;
  height: auto;
  border: none;
  border-radius: 20px;
}

section article.container-testimonios .shadow-center .paragraph-testimonio {
  margin: auto;
  width: 50%;
  border-radius: 20px;
  text-align: center;
  color: var(--color-text);
}

section .container-paralelos {
  padding: 1em 0;
  float: left;
  width: 50%;
}

section .container-paralelos .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

section .content {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

section .content .content-overlay {
  background: rgba(245, 155, 0, 0.8);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.4s ease-in-out 0s;
}

section .content:hover .content-overlay {
  opacity: var(--text-button);
}

section .content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

section .content-image-paralelos {
  width: 100%;
  border-radius: 20px;
}

section .content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}

section .content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

section .content-details p {
  color: #fff;
  font-size: 1rem;
}

section .fadeIn-bottom {
  top: 80%;
}

section .fadeIn-top {
  top: 20%;
}

section .fadeIn-left {
  left: 20%;
}

section .fadeIn-right {
  left: 80%;
}

@media screen and (max-width: 640px) {
  section .container-paralelos {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  section .container-paralelos {
    width: 50%;
  }
}

/* ------------------------------ capacitacion ------------------------------ */
section.capacitacion {
  text-align: center;
}

section.capacitacion .title-section-capacitacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
  text-align: center;
}

section.capacitacion .hero-img-capacitacion {
  background-image: url(../assets/capacitación.jpg);
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

section.capacitacion .hero-img-capacitacion .hero-img-content {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.7;
  background-image: linear-gradient(135deg, #3f3d56 0%, #4959a3 100%);
}

section.capacitacion .hero-img-capacitacion .hero-img-content h1 {
  color: white;
  margin-bottom: 2rem;
}

section.capacitacion .hero-img-capacitacion .para-capacitacion {
  text-align: center;
  color: white;
}

.hero-img-equipo {
  background-image: url(../assets/equipo.jpg);
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero-img-equipo .hero-img-content {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.7;
  background-image: linear-gradient(135deg, #3f3d56 0%, #4959a3 100%);
}

.hero-img-equipo .hero-img-content h1 {
  color: #f59b00;
  text-align: center;
}

.hero-img-equipo .hero-img-content p {
  width: 50%;
  color: white;
}

section.section {
  margin: 4rem 4rem;
}

section .title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

section .title-section p {
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

section article.container-multidisiplinario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 4rem;
}

section article.container-multidisiplinario .item-multidisiplinario {
  width: 30%;
  height: 100%;
  object-fit: cover;
  border: thin solid #e6e6e6;
  border-radius: 20px;
  margin-bottom: 3rem;
}

section article.container-multidisiplinario .item-multidisiplinario h2 {
  text-align: center;
  padding-bottom: 1rem;
  color: #202020;
}

section article.container-multidisiplinario .item-multidisiplinario img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

section article.container-multidisiplinario .shadow-center {
  box-shadow: -2px 12px 38px -2px rgba(0, 0, 0, 0.7);
}

section article.container-multidisiplinario .shadow-center .paragraph-multidisiplinario {
  margin: auto;
  width: 50%;
  text-align: center;
  color: #202020;
}

section article.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}

section article.hero-image aside.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.6;
  background-image: linear-gradient(135deg, #3f3d56 0%, #4959a3 100%);
}

section article.hero-image aside.hero-image-opacity div.hero-image-content {
  width: 100%;
  min-width: 320px;
}

section article.hero-image aside.hero-image-opacity div.hero-image-content div.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

section article.hero-image aside.hero-image-opacity div.hero-image-content div.container h2.section-title {
  color: #fff;
}

section article.hero-image aside.hero-image-opacity div.hero-image-content div.container article.carousel {
  margin: 2rem auto;
  padding: 2rem 0;
  max-width: 800px;
  text-align: center;
  overflow-x: hidden;
  background-color: #f59b00;
}

section article.hero-image aside.hero-image-opacity div.hero-image-content div.container article input {
  display: none;
}

section article.hero-image aside.hero-image-opacity div.hero-image-content div.container article label {
  border: medium solid #666;
  border-radius: 50%;
  margin: 0 0.3rem;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
}

section article.hero-image aside.hero-image-opacity div.hero-image-content div.container article ul.slides {
  padding-left: 0;
  width: 400%;
  display: flex;
  list-style: none;
  transition: transform 0.5s ease-in-out;
  animation: carousel-slide 12s ease-in-out 3s infinite;
}

section article.hero-image aside.hero-image-opacity div.hero-image-content div.container article ul.slides li.slide img.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

section article.hero-image aside.hero-image-opacity div.hero-image-content div.container article ul.slides li.slide h3.text-first-color {
  color: #666;
}

@keyframes carousel-slide {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
}

#slide-1:checked ~ .slides {
  transform: translateX(0%);
}

#slide-2:checked ~ .slides {
  transform: translateX(-25%);
}

#slide-3:checked ~ .slides {
  transform: translateX(-50%);
}

#slide-4:checked ~ .slides {
  transform: translateX(-75%);
}

#slide-1:checked ~ .slides-nav label#dot-1,
#slide-2:checked ~ .slides-nav label#dot-2,
#slide-3:checked ~ .slides-nav label#dot-3,
#slide-4:checked ~ .slides-nav label#dot-4 {
  background-color: var(--gray-dark-color);
}

div.hero-img-contact {
  background-image: url(../assets/contact.jpg);
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

div.hero-img-contact div.hero-img-content {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.7;
  background-image: linear-gradient(135deg, #3f3d56 0%, #4959a3 100%);
}

div.hero-img-contact div.hero-img-content h1 {
  color: #f59b00;
}

div.hero-img-contact div.hero-img-content p {
  width: 50%;
  color: white;
}

section.section {
  margin: 4rem 4rem;
}

section.section div.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

section.section div.img-contact {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

section.section div.img-contact img {
  width: 70%;
  height: auto;
}

section.contact h2.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

section form.container-contact {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 2rem auto;
  justify-content: space-around;
  align-items: center;
  border: thin solid lightgrey;
  border-radius: 15px;
  padding: 2rem;
  background-image: linear-gradient(to left, #e6e6e6 0%, #bdbbbe 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-blend-mode: normal, lighten, soft-light;
}

section form div.item-contact {
  width: 45%;
  margin: 1rem auto;
}

section form div.item-contact input {
  width: 100%;
  height: 2rem;
  cursor: pointer;
  border: thin solid lightslategrey;
  border-radius: 20px;
}

section form div.item-contact select {
  width: 100%;
  height: 2rem;
  border-radius: 20px;
}

section form div.container-textarea {
  width: 100%;
  margin: 1rem auto;
  border-radius: 20px;
}

section form div.container-textarea textarea {
  width: 100%;
}

section form div.btn-form {
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin-bottom: 3rem;
}

section form #submit {
  width: 140px;
  height: 2rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-image: linear-gradient(135deg, #3f3d56 0%, #4959a3 100%);
  color: #fff;
}

section form #clear {
  width: 140px;
  height: 2rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-image: linear-gradient(135deg, #3f3d56 0%, #4959a3 100%);
  color: #fff;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(135deg, #3f3d56 0%, #4959a3 100%);
  color: var(--text-button);
  width: 100%;
  height: 6rem;
}

.container-footer .social {
  padding: 1rem;
}

.container-footer .social i.icon {
  width: 2rem;
}

.container-footer .social i.fab-fa-facebook {
  width: 2rem;
}

@media screen and (max-width: 1600px) {
  div.header-content {
    display: flex;
    width: 90%;
  }
  div.header-content article.header-item {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0, 3rem;
    margin-bottom: 1rem;
  }
  div.header-content article.header-item div.mas-servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  div.sevicios-principales {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  div.sevicios-principales article.servicio {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    height: auto;
    margin: 2rem auto;
    margin-top: 5rem;
  }
  div.sevicios-principales article.servicio img {
    width: 15%;
    min-height: 200px;
    margin: auto;
  }
  div.sevicios-principales article.servicio p {
    text-align: center;
  }
  div #btn-servicios {
    margin: 1rem 1rem 2rem;
  }
  section .servicios-principales .servicio .modalmask:target .modalbox {
    width: 600px;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #fff;
    border-radius: 3px;
    transition: all 500ms ease-in;
  }
  section.section {
    margin: 4rem 4rem;
  }
  section.orientacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 'h2         h2' 'paragraph  paragraph' 'personales pymes';
    column-gap: 3rem;
    row-gap: 1rem;
    margin-bottom: 2rem;
  }
  section div.orientacion-title {
    grid-area: h2;
  }
  section div.orientacion-paragraph {
    grid-area: paragraph;
  }
  section article.orientacion-personales {
    grid-area: personales;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  section article.orientacion-pymes {
    grid-area: pymes;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  section h2, section p {
    text-align: center;
    margin: 1rem 2rem;
  }
  section img {
    width: 80%;
    height: auto;
  }
  .container-testimonios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .container-testimonios .item-testimonio {
    width: 80%;
  }
  .container-testimonios .img-testimonio {
    width: 100%;
  }
  .container-testimonios .paragraph-testimonio {
    width: 80%;
  }
  section form.container-contact {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 2rem;
  }
  section form.container-contact div.item-contact {
    width: 90%;
  }
}

/* ------------------------------------ 8----------------------------------- */
@media screen and (max-width: 1199.98px) {
  /* ------------------------------------ 8 ----------------------------------- */
  div.header-content {
    display: flex;
    justify-content: space-around;
  }
  div.header-content article.header-item {
    width: 60%;
  }
  div.header-content article.header-item img {
    width: 90%;
    height: auto;
  }
  div.servicios-principales {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: center;
    margin-top: 6rem;
  }
  div.servicios-principales article.servicio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0%;
    padding: 1rem;
  }
  div.servicios-principales article.servicio p {
    margin: 0rem;
  }
  section article.container-testimonios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: stretch;
  }
  section article.container-testimonios div.item-testimonio {
    width: 45%;
    background-color: var(--text-button);
    border: thin solid var(--background-ligth);
    object-fit: cover;
    border-radius: 20px;
    margin: 2rem auto;
    margin-bottom: 2rem;
    height: 100%;
    object-fit: cover;
    /* 	align-items: center; */
  }
  section article.container-testimonios div.item-testimonio img.img-testimonio {
    width: 100%;
    height: auto;
  }
  section article.container-testimonios div.item-testimonio p.paragraph-testimonio {
    text-align: center;
    width: 100%;
    padding: 1rem;
  }
  section article.container-testimonios div.item-testimonio h2 {
    margin: 0;
  }
  article.container-multidisiplinario {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  article.container-multidisiplinario div.item-multidisiplinario {
    width: 40%;
    height: 100%;
    object-fit: cover;
    border: thin solid var(--background-ligth);
    border-radius: 20px;
    margin-bottom: 2rem;
  }
}

/* ------------------------------------ 8 ----------------------------------- */
@media screen and (max-width: 991.98px) {
  /* ------------------------------------ 8 ----------------------------------- */
  div.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  div.header-content article.header-item {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: 100%;
  }
  div.header-content article.header-item h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  div.header-content article.header-item p {
    font-size: 1.2rem;
  }
  div.header-content article.header-item h2 {
    font-size: 1.2rem;
  }
  div.header-content article.header-item img {
    margin: auto;
    width: 400px;
    height: 400px;
    max-width: 100%;
  }
  div.header-content article.header-item div.mas-servicios {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 0rem;
  }
  div.header-content article.header-item div.mas-servicios button {
    /* 4. hover-filled-slide-right */
  }
  div.header-content article.header-item div.mas-servicios button.btn {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0px 25px 15px;
    min-width: 170px;
  }
  div.header-content article.header-item div.mas-servicios button .btn-1::before {
    background-color: #1c1f1e;
    transition: 0.3s ease-out;
    border-radius: 20px;
  }
  div.header-content article.header-item div.mas-servicios button .btn-1 a {
    color: white;
    border: 1px solid #1c1f1e;
    transition: 0.2s 0.1s;
  }
  div.header-content article.header-item div.mas-servicios button .btn-1 a:hover {
    color: #1c1f1e;
    transition: 0.2s 0.1s;
  }
  div.header-content article.header-item div.mas-servicios button .btn.hover-filled-slide-right::before {
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
  div.header-content article.header-item div.mas-servicios button .btn.hover-filled-slide-right:hover::before {
    width: 0%;
  }
  div.servicios-principales {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: center;
    margin-top: 6rem;
  }
  div.servicios-principales article.servicio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0%;
    padding: 1rem;
  }
  div.servicios-principales article.servicio p {
    margin: 0rem;
    font-size: 1.2rem;
  }
  section.orientacion {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 'h2' 'paragraph' 'personales' 'pymes';
    column-gap: 3rem;
    row-gap: 1rem;
    margin-bottom: 2rem;
  }
  section p {
    font-size: 1.2rem;
  }
  article.container-testimonios {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  article.container-testimonios div.item-testimonio {
    width: 100%;
    background-color: var(--text-button);
    border: thin solid var(--background-ligth);
    object-fit: cover;
    border-radius: 20px;
    margin: 2rem auto;
    margin-bottom: 2rem;
    height: 100%;
    object-fit: cover;
  }
  article.container-testimonios div.item-testimonio img.img-testimonio {
    width: 100%;
  }
  article.container-testimonios div.item-testimonio p.paragraph-testimonio {
    width: 100%;
  }
  section.section {
    margin: 0;
  }
  section.section div.title-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  section.section div.title-section h2 {
    font-size: 2rem;
  }
  section.section div.title-section p {
    width: 100%;
  }
  section.section div.img-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
  }
  section.section div.img-contact img {
    width: 100%;
  }
  section form.container-contact {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 2rem;
  }
  section form.container-contact div.item-contact {
    width: 90%;
  }
}

/* ------------------------------------ 8 ----------------------------------- */
@media screen and (max-width: 767.98px) {
  /* ------------------------------------ 8 ----------------------------------- */
  div.header-content {
    display: flex;
    width: 80%;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
  }
  div.header-content article.header-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin: 1rem auto;
    max-width: 100%;
  }
  div.header-content article.header-item img {
    width: 60%;
    max-width: 100%;
    height: auto;
  }
  div.header-content article.header-item p {
    margin-bottom: 1rem;
  }
  .servicio img {
    width: 200px;
  }
  div.servicios-principales {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: center;
    margin-top: 6rem;
  }
  div.servicios-principales article.servicio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0%;
    padding: 1rem;
  }
  div.servicios-principales article.servicio p {
    margin: 0rem;
  }
}

/* ------------------------------------ 8 ----------------------------------- */
@media screen and (max-width: 575.98px) {
  /* ------------------------------------ 8 ----------------------------------- */
  .section {
    margin: 1rem;
  }
  div.header-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
  }
  div.header-content article.header-item {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: auto;
    max-width: 100%;
  }
  div.header-content article.header-item h1 {
    font-size: 2rem;
  }
  div.header-content article.header-item p {
    font-size: 1.0rem;
  }
  div.header-content article.header-item img {
    margin: auto;
    width: 200px;
    height: 200px;
    max-width: 100%;
  }
  div.header-content article.header-item div.mas-servicios {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  div.header-content article.header-item div.mas-servicios button {
    /* 4. hover-filled-slide-right */
  }
  div.header-content article.header-item div.mas-servicios button.btn {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0px 25px 15px;
    min-width: 170px;
  }
  div.header-content article.header-item div.mas-servicios button .btn-1::before {
    background-color: #1c1f1e;
    transition: 0.3s ease-out;
    border-radius: 20px;
  }
  div.header-content article.header-item div.mas-servicios button .btn-1 a {
    color: white;
    border: 1px solid #1c1f1e;
    transition: 0.2s 0.1s;
  }
  div.header-content article.header-item div.mas-servicios button .btn-1 a:hover {
    color: #1c1f1e;
    transition: 0.2s 0.1s;
  }
  div.header-content article.header-item div.mas-servicios button .btn.hover-filled-slide-right::before {
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
  div.header-content article.header-item div.mas-servicios button .btn.hover-filled-slide-right:hover::before {
    width: 0%;
  }
  section div.title-section h2 {
    font-size: 1.5rem;
  }
  section div.servicios-principales {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: center;
    margin-top: 6rem;
  }
  section div.servicios-principales article.servicio {
    width: 90%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0%;
    padding: 1rem;
  }
  section div.servicios-principales article.servicio h2 {
    font-size: 1.5rem;
  }
  section div.servicios-principales article.servicio p {
    margin: 0rem;
    font-size: 1rem;
  }
  section.orientacion {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 'h2' 'paragraph' 'personales' 'pymes';
    column-gap: 3rem;
    row-gap: 1rem;
    margin-bottom: 2rem;
  }
  section.orientacion p {
    font-size: 1rem;
  }
  section.clientes p.card-text {
    font-size: 1rem;
  }
  .row {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
  section.section {
    margin: 2rem;
    padding: 1rem;
  }
  section article.container-testimonios {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  section article.container-testimonios div.item-testimonio {
    width: 100%;
    background-color: var(--text-button);
    border: thin solid var(--background-ligth);
    object-fit: cover;
    border-radius: 20px;
    margin: 2rem auto;
    margin-bottom: 2rem;
    height: 100%;
    object-fit: cover;
  }
  section article.container-testimonios div.item-testimonio img.img-testimonio {
    width: 100%;
    height: auto;
  }
  section article.container-testimonios div.item-testimonio p.paragraph-testimonio {
    width: 100%;
  }
  div.hero-img-nosotros div.hero-img-content h1 {
    font-size: 2rem;
  }
  div.hero-img-nosotros div.hero-img-content h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
  }
  section.section {
    margin: 0rem;
  }
  section.sobre-nosotros {
    display: grid;
    grid-template-areas: 'grupo-especial' 'para' 'item1' 'description1' 'item2' 'description2' 'item3' 'description3';
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, auto);
    column-gap: 2rem;
    row-gap: 1rem;
  }
  section.sobre-nosotros img {
    width: 100%;
    height: auto;
    margin: 2rem auto;
  }
  section.sobre-nosotros p {
    font-size: 1rem;
  }
  /* -------------------------------- Equipo-------------------------------- */
  div.hero-img-equipo div.hero-img-content h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
  }
  article.container-multidisiplinario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  article.container-multidisiplinario div.item-multidisiplinario {
    width: 90%;
    height: 100%;
    object-fit: cover;
    border: thin solid var(#e6e6e6);
    border-radius: 20px;
    margin-bottom: 2rem;
  }
  article.container-multidisiplinario div.item-multidisiplinario p {
    font-size: 1rem;
  }
  section.section {
    margin: 0;
  }
  section.section div.title-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  section.section div.title-section h2 {
    font-size: 1.5rem;
  }
  section.section div.title-section p {
    width: 100%;
    font-size: 1rem;
  }
  section.section article.container-testimonios div.item-testimonio p {
    font-size: 1rem;
  }
  section.section div.img-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
  }
  section.section div.img-contact img {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  /* -------------------------------- contacto -------------------------------- */
  div.hero-img-contact div.hero-img-content h2 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1rem;
  }
  section.contact h2 {
    font-size: 1.5rem;
  }
  section form.container-contact {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 2rem;
  }
  section form.container-contact div.item-contact {
    width: 90%;
  }
  section .servicios-principales .servicio .modalmask:target .modalbox {
    width: 320px;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #fff;
    border-radius: 3px;
    transition: all 500ms ease-in;
  }
  #clear {
    margin-right: 1rem;
  }
}
