/* -------------------------------------------------------------------------- */
/*                              CUSTOM PROPERTIES                             */
/* -------------------------------------------------------------------------- */

:root {
  --font: "Catamaran", sans-serif;
  --color-text: #202020;
  --nav-heigth: 6rem;
  --color-button: #f59b00;
  --text-button: #fff;
  --text-second: #3f3d56;
  --background-ligth: #e6e6e6;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --gray-dark-color: #666;
}

/* -------------------------------------------------------------------------- */
/*                                    RESET                                   */
/* -------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: var(--font);
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  height: 100%;
}
h1 {
  color: var(--color-text);
  font-size: 4rem;
}
h2 {
  color: var(--color-text);
  font-size: 2.5rem;
}

a :hover{
  color: white;
}

button a:hover{
  color: black;
}

::-webkit-scrollbar{
  width: 9px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--color-button);
  border-radius: 50px;
}
::-webkit-scrollbar-track{
  background-color: var(--text-button);
  border-radius: 80px;
}

/* -------------------------------------------------------------------------- */
/*                                    INDEX                                  */
/* -------------------------------------------------------------------------- */

/* ---------------------------- menu hamburguesa ---------------------------- */

.navbar-brand{
  font-size: 2rem;
  padding: none;
  margin-left: 1rem;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
}
a.nav-link{
  font-size: 21px;
  padding: 16px;
  margin-right: 3rem;  
}


/* --------------------------------- header nav--------------------------------- */

button {
 background-color: var(--color-button);
  width: 176px;
  height: 4rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 0 1px 1px  black inset;
  border-color:white;
  transition: box-shadow 0.1s ease-in-out;
  color: white;
}

button:hover {
  box-shadow: 0 0 2px 0 white, 0 0 1px 1px white;
  color: white;
  background-color: transparent;
  border: thin black;
}

button a{
  color: white;
  text-decoration: none;
  font-size: 21px;
}

.btn-dark{
  border-radius: 20px;
  margin-bottom: 1rem;
}

/*------------------------------------- --header-content -------------------------------*/

.header-content{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  margin: auto;
 /*  padding: 5rem 3rem; */
  overflow: hidden;
}



.header-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0, 3rem;
  margin-bottom: 1rem;
}

.header-item h1 {
  margin-bottom: 1rem;
}

.header-item p {
  margin-bottom: 2rem;
}

.section {
  margin: 4rem 4rem;
}

/* ------------------------------ Algunos servicios ------------------------------------- */

.servicios-principales {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  margin-top: 6rem;
}

.servicio {
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: auto;
  padding: 1rem 1rem 0 2rem;
  margin: 2rem 1rem ;
  text-align: center;
 
}


.servicio p {
  text-align: center;
  /*  padding-top: 1rem; */
}
.servicio img {
  width: 40%;
  height: auto;
}

.h2-servicios {
  display: flex;
  justify-content: space-around;
  margin: 1rem 1rem;
}

#btn-servicios {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

/* ------------------------------- nuestros clientes dicen ------------------------------ */

.container-testimonios {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:repeat(2,auto);
  column-gap: 1rem;
  row-gap: 3rem;
  margin: auto;
  justify-items: center;
  align-items: center;
  margin-bottom: 4rem;
}

.item-testimonio {
  background-color: var(--text-button);
  border: thin solid var(--background-ligth);
  object-fit: cover;
  border-radius: 20px;
  width: 80%;
  height: 100%;
  object-fit: cover;
}
.item-testimonio h2 {
  text-align: center;
  padding-bottom: 1rem;
}

.img-testimonio {
  background-color: var(--text-second);
  width: 100%;
  height: auto;
  border: none;
  border-radius: 20px;
}

.paragraph-testimonio {
  margin: auto;
  width: 50%;
  border-radius: 20px;
  text-align: center;
  color: var(--color-text);
}

.row{
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.col{
  margin:2rem
} 

.row>*{
  margin: 1rem;
  padding-left: 0;
  padding-right: 0;
}


/* ---------------------------------- A quienes nos dirigimos ------------------------ */
.orientacion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "h2         h2"
    "paragraph  paragraph"
    "personales pymes";
  column-gap: 3rem;
  row-gap: 1rem;
  margin-bottom: 2rem;
}

.orientacion-title {
  grid-area: h2;
}
.orientacion-paragraph {
  grid-area: paragraph;
}

.orientacion-personales {
  grid-area: personales;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.orientacion-pymes {
  grid-area: pymes;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.orientacion h2,
p {
  text-align: center;
  margin: 1rem 2rem;
}

.orientacion-personales img {
  width: 80%;
  height: auto;
}

.orientacion-pymes img {
  width: 80%;
  height: auto;
}

/* --------------------------------- Footer----------------------------------------- */

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(135deg, #3f3d56 0%, #4959a3 100%);
  color: var(--text-button);
  width: 100%;
  height: 6rem;
}

.social {
  padding: 1rem;
}

i.icon {
  width: 2rem;
}

i.fab-fa-facebook {
  width: 2rem;
}
/* -------------------------------------------------------------------------- */
/*                                  NOSOTROS                                  */
/* -------------------------------------------------------------------------- */



/* ------------------------------- hero-image nosotros -----------------------*/

.hero-img-nosotros {
  background-image: url(../assets/nosotros-img.jpg);
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.hero-img-content {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.7;
  background-image: linear-gradient(135deg, #3f3d56 0%, #4959a3 100%);
}

.hero-img-content h1 {
  color: var(--text-button);
  font-size: 5vh;
  text-align: center;
}

.hero-img-content p {
  color: var(--text-button);
  width: 50%;
  text-align: center;
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.title-section p {
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

/* ---------------------------- un Grupo especial/Porqué elegirnos --------------------------- */

/* --------------------------- hero-img-elegirnos ------------------------------------ */

.shadow-center {
  box-shadow: -2px 12px 38px -2px rgba(0, 0, 0, 0.7);
}

.shadow-left {
  box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, 0.55);
}

.shadow-right {
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.55);
}
/* ----------------------------- un grupo especial/porque elegirnos -------------------- */
.sobre-nosotros {
  display: grid;
  grid-template-areas:
    "grupo-especial  grupo-especial"
    "para            para"
    "item1           description1"
    "description2    item2"
    "item3           description3";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  column-gap: 2rem;
  row-gap: 1rem;
}

.sobre-nosotros img {
  width: 100%;
  height: auto;
}

.sobre-nosotros h2,
p {
  text-align: center;
}

.grupo-especial {
  grid-area: grupo-especial;
  justify-self: center;
  align-self: center;
}
.para {
  grid-area: para;
  justify-self: center;
  align-self: center;
}
.nosotros-item1 {
  grid-area: item1;
  justify-self: center;
  align-self: center;
}

.description1 {
  grid-area: description1;
  justify-self: center;
  align-self: center;
}

.nosotros-item2 {
  grid-area: item2;
  justify-self: center;
  align-self: center;
}

.description2 {
  grid-area: description2;
  justify-self: center;
  align-self: center;
}

.nosotros-item3 {
  grid-area: item3;
  justify-self: center;
  align-self: center;
}

.description3 {
  grid-area: description3;
  justify-self: center;
  align-self: center;
}

/* -------------------------------------------------------------------------- */
/*                                  SERVICIOS                                 */
/* -------------------------------------------------------------------------- */

.header-content-servicios {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 2rem 2rem;
}

.header-content-servicios p {
  margin-top: 2rem;
  text-align: center;
}

.card-border {
  border-radius: 15px;
}
/* ------------------------------- Hero-image-capacitación ------------------------------- */

.hero-img-capacitacion {
  background-image: url(../assets/capacitación.jpg);
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.capacitacion {
  margin: 0;
  padding: 0;
}

.title-section-capacitacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                                   EQUIPO                                   */
/* -------------------------------------------------------------------------- */

/* ------------------------------- Hero-image --------------------------------------- */

.hero-img-equipo {
  background-image: url(../assets/equipo.jpg);
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* ------------------------ equipo multidisiplinario -------------------------------- */

 .container-multidisiplinario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.item-multidisiplinario {
  width: 30%;
  height: 100%;
  object-fit: cover;
  border: thin solid var(--background-ligth);
  border-radius: 20px;
  margin-bottom: 3rem;
}
.item-multidisiplinario h2 {
  text-align: center;
  padding-bottom: 1rem;
  color: var(--color-text);
}
.item-multidisiplinario img {
  width: 100%;
  height: auto;
}

.img-multidisiplinario {
  width: 100%;
  background-color: var(--text-second);
  border-radius: 20px;
}

.paragraph-multidisiplinario {
  margin: auto;
  width: 50%;
  text-align: center;
  color: var(--color-text);
}

/* --------------------------------- carousel --------------------------------- */

.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.6;
  background-image: linear-gradient(135deg, #3f3d56 0%, #4959a3 100%);
}
/* 
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  max-width: var(--max-width);
} */

.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.text-first-color {
  color: var(--first-color);
}
.section-title {
  color: var(--text-button);
}

/* ------------------------------------ carousel ----------------------------------- */

@keyframes carousel-slide {
  0% {
    transform: translateX(0%);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
}

.hero-image-content {
  width: 100%;
  min-width: 320px;
}
.carousel {
  margin: 2rem auto;
  padding: 2rem 0;
  max-width: 800px;
  text-align: center;
  overflow-x: hidden;
  background-color: var(--color-button);
}

.carousel .slides {
  padding-left: 0;
  /* 100% por cada slide */
  width: 400%;
  display: flex;
  list-style: none;
  transition: transform 0.5s ease-in-out;
  animation: carousel-slide 12s ease-in-out 3s infinite;
}

.carousel input {
  display: none;
}

.carousel label {
  border: medium solid var(--gray-dark-color);
  border-radius: 50%;
  margin: 0 0.3rem;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
}

#slide-1:checked ~ .slides {
  transform: translateX(0%);
}
#slide-2:checked ~ .slides {
  transform: translateX(-25%);
}
#slide-3:checked ~ .slides {
  transform: translateX(-50%);
}

#slide-4:checked ~ .slides {
  transform: translateX(-75%);
}

#slide-1:checked ~ .slides-nav label#dot-1,
#slide-2:checked ~ .slides-nav label#dot-2,
#slide-3:checked ~ .slides-nav label#dot-3,
#slide-4:checked ~ .slides-nav label#dot-4 {
  background-color: var(--gray-dark-color);
}

/* -------------------------------------------------------------------------- */
/*                                  CONTACTO                                  */
/* -------------------------------------------------------------------------- */

.hero-img-contact {
  background-image: url(../assets/contact.jpg);
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#img-contact {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

#img-contact img {
  width: 70%;
  height: auto;
}

.container-contact {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 2rem auto;
  justify-content: space-around;
  align-items: center;
  border: thin solid lightgrey;
  border-radius: 20px;
  padding: 2rem;
  background-image: linear-gradient(to left, #e6e6e6 0%, #bdbbbe 100%),
    radial-gradient(
      88% 271%,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(254, 254, 254, 0.25) 1%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    radial-gradient(
      50% 100%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: normal, lighten, soft-light;
}
.item-contact {
  width: 45%;
  margin: 1rem auto;
}

.item-contact input {
  width: 100%;
  height: 2rem;
  cursor: pointer;
  border: thin solid lightslategrey;
  border-radius: 20px;
}

.item-contact select {
  width: 100%;
  height: 2rem;
  border-radius: 20px;
}

.container-textarea {
  width: 100%;
  margin: 1rem auto;
  border-radius: 20px;
}

.container-textarea textarea {
  width: 100%;
}

.acepta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  margin-bottom: 2rem;
}

.acepta input {
  margin: auto;
  width: 50%;
  height: 1rem;
}
.acepta span {
  width: 50%;
  font-size: 18px;
  text-align: center;
}

.btn-form {
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin-bottom: 3rem;
}
#submit {
  width: 140px;
  height: 2rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-image: linear-gradient(135deg, #3f3d56 0%, #4959a3 100%);
  color: var(--text-button);
}
#clear {
  width: 140px;
  height: 2rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-image: linear-gradient(135deg, #3f3d56 0%, #4959a3 100%);
  color: var(--text-button);
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERYS                                */
/* -------------------------------------------------------------------------- */

@media screen and (max-width:1600px){
  
  .elements-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    
  }

  .logo{
    text-align: center;
  }
  
  .header-content{
    display: flex;
    width: 90%;
   /*  margin-top: 3rem; */
  }
  
  .servicios-principales{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  
  .servicio{
    display: flex;
    justify-content:space-evenly;
    width:80%;
    height: auto;
    margin:2rem auto;
    margin-top: 5rem;
  }
  .servicio img {
    width: 15%;
  /*   height:auto; */
    min-height: 200ox;
    margin: auto;
  }
  
  .servicio p{
    text-align:center;
    
  }
  #btn-servicios{
    margin: 1rem 1rem 2rem;
  }
  
  .container-testimonios{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
  
  }
  
  .item-testimonio{
    width: 80%;
  }
  .img-testimonio{
    width:100%;
  }
  
  .paragraph-testimonio{
    width: 80%;
  }
  }
/* ------------------------------------ 8 ----------------------------------- */

@media screen and (max-width:1199.98px){

  .header-content{
    display: flex;
    justify-content: space-around;
  }

  .header-item{
    width: 60%;
  }

  .header-item img{
    width: 90%;
    height: auto;
  }

}

  @media screen and (max-width:991.98px){

    .header-item{
      width: 100%;
      height: auto;
    }
    
     h1{
      font-size: 3rem;
    }

    h2{
      font-size: 1.5rem;
    }
    button.navbar-toggler{
    width: 2rem;
    height: 2rem;
    }

    button.navbar-toggler-icon{
      width: 2rem;
      height: 2rem;
      }
   
  
    .header-content{
      display: flex;
      flex-direction: column;
      justify-content:space-evenly;
    
    }

    .header-item{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      flex-wrap: nowrap;
      margin: 1rem auto;
      max-width: 100%;
    }
  }
/* ------------------------------------ 8 ----------------------------------- */

  @media screen and (max-width:767.98px){

   /*.header-item{
      width: 100%;
      height: auto;
    } */
    
     h1{
      font-size: 2rem;
    }

    h2{
      font-size: 1.5rem;
    }
    button.navbar-toggler{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    }

    button.navbar-toggler-icon{
      width: 2rem;
      height: 2rem;
      }

      button{
        width: 150px;
        height: 3rem;
        font-size: 1rem;
      }
      
      button{
        width: 150px;
        height: 3rem;
        font-size: 1rem;
      }
      button a{
        font-size: 1rem;
      }
   
  
    .header-content{
      display: flex;
      width: 80%;
      height: auto;
      flex-direction: column;
      justify-content:space-evenly;
     /*  margin-top: 15rem; */
   
    
    }

    .header-item{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      flex-wrap: nowrap;
      margin: 1rem auto;
      max-width: 100%;
    }

    
    .header-item img{
      width: 60%;
      max-width: 100%;
      height: auto;
    }

    .header-item p{
      margin-bottom: 1rem;
    }

    .servicio img{
     width: 200px; 
  }
  }
/* ------------------------------------ 8 ----------------------------------- */

  @media screen and (max-width:575.98px){
 
     h1{
      font-size: 2rem;
    }

    h2{
      font-size: 1.5rem;
    }
    button.navbar-toggler{
      width: 2rem;
      height: 2rem;
    }

    button.navbar-toggler-icon{
      width: 2rem;
      height: 2rem;
      }

      .section{
        margin: 0%;
      }
   
  
    .header-content{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content:center;
      margin-top: 3rem;
    
    }

    .header-item{
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      margin: auto;
      max-width: 100%;
    }

    
    .header-item img{
   
      margin: auto;
      width: 300px;
      height: 300px;
      max-width: 100%;
   
    }
   
    .servicios-principales {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      margin: auto;
      justify-content: center;
      margin-top: 6rem;
    }
    .servicio{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 0%;
    }
    .servicio p{
      margin: 0%;
    }

    .servicios{
      width: 100%;
    }
    .orientacion {
      display: grid;
      grid-template-columns: repeat(1, 100%);
      grid-template-rows: repeat(4, auto);
      grid-template-areas:
          "h2"
          "paragraph"
          "personales"
          "pymes";
      column-gap: 3rem;
      row-gap: 1rem;
      margin-bottom: 2rem;
  }

  .row{
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.container-testimonios{
  display: grid;
  grid-template-columns:repeat(1,100%) ;
  grid-template-rows: auto;
  margin: auto;
}
.item-testimonio{
  width: 100%;
}
.img-testimonio{
  width:100%;
}
.paragraph-testimonio{
  width: 100%;
}

.sobre-nosotros{
  display: grid;
  grid-template-areas:
    "grupo-especial"
    "para"
    "item1"           
    "description1"
    "item2"
    "description2"    
    "item3"           
    "description3";
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(8, auto);
  column-gap: 2rem;
  row-gap: 1rem;
}

.sobre-nosotros img {
  width: 100%;
  height: auto;
  margin:2rem auto;
}
.section{
  margin: 2rem;
}
.container-multidisiplinario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-multidisiplinario {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border: thin solid var(--background-ligth);
  border-radius: 20px;
  margin-bottom: 2rem;
}
  }
