@media screen and (max-width: 1600px){

	div{
		&.header-content {
			display: flex;
			width: 90%;
			
			article{
				&.header-item{
					display: flex;
					width: 100%;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					text-align: center;
					padding: 0, 3rem;
					margin-bottom: 1rem;
					div{
						&.mas-servicios{
							display: flex;
							justify-content: center;
							align-items: center;
							margin-top: 3rem;
							margin-bottom: 3rem;
						}
					}
	
				}
			}
			
		}
	}



	div{
			&.sevicios-principales{
				display: flex;
				flex-direction: column;
				width: 100%;
				margin: auto;

			article{
				&.servicio{
				display: flex;
				justify-content: space-evenly;
				width: 90%;
				height: auto;
				margin: 2rem auto;
				margin-top: 5rem;
				
				img{
					width: 15%;
					min-height: 200px;
					margin: auto;	
				}

				p{
					text-align: center;	
			  }

				
		    }
		  }	
	   }
		#btn-servicios {
			margin: 1rem 1rem 2rem;
		}

	}

	section .servicios-principales .servicio .modalmask:target .modalbox {
		width: 600px;
			position: relative;
			padding: 5px 20px 13px 20px;
			background: #fff;
			border-radius: 3px;
			-webkit-transition: all 500ms ease-in;
			-moz-transition: all 500ms ease-in;
			transition: all 500ms ease-in;
	}

	section{
		&.section{
			margin: 4rem 4rem;	
		}
		&.orientacion{
			display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas:
		'h2         h2'
		'paragraph  paragraph'
		'personales pymes';
	column-gap: 3rem;
	row-gap: 1rem;
	margin-bottom: 2rem;
		}

	
		div{
			&.orientacion-title{
				grid-area: h2;
			}
		}

		div{
			&.orientacion-paragraph{
				grid-area: paragraph;
			}
		}

		article{
			&.orientacion-personales{
				grid-area: personales;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-bottom: 2rem;
			}
		}

		article{
			&.orientacion-pymes{
				grid-area: pymes;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-bottom: 2rem;
			}
		}

		h2,p{
			text-align: center;
			margin: 1rem 2rem;
		}

		img{
			width: 80%;
			height: auto;
		}
	}

	.container-testimonios {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 100%;

		.item-testimonio {
			width: 80%;
		}

		.img-testimonio {
			width: 100%;
		}

		.paragraph-testimonio {
			width: 80%;
		}
	}

	section{
		
		form{
			&.container-contact{
				width: 80%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: auto;
				margin-bottom: 2rem;
			
				
				div{
					&.item-contact{
						width: 90%;	
					}
				}
			}
		}
	}

}

/* ------------------------------------ 8----------------------------------- */
@media screen and (max-width: 1199.98px){
/* ------------------------------------ 8 ----------------------------------- */
	div{
		&.header-content{
			display: flex;
			justify-content: space-around;

			article{
				&.header-item{
					width: 60%;

					img{
						width: 90%;
						height: auto;
					}
				}
			}
		}
	}

	div{
		&.servicios-principales{
			display: flex;
			flex-wrap: wrap;
			width: 90%;
			margin: auto;
			justify-content: center;
			margin-top: 6rem;
			
			article{
				&.servicio{
					width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					margin-top: 0%;
					padding: 1rem;

					p{
						margin: 0rem;	
					}
				}
			}
		}
	}

	section{
		article{
			&.container-testimonios{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				width: 	100%;
				align-items: stretch;

				div{
						&.item-testimonio{
							width: 45%;
							background-color: var(--text-button);
							border: thin solid var(--background-ligth);
							object-fit: cover;
							border-radius: 20px;
							margin: 2rem auto;
							margin-bottom: 2rem;
							height: 100%;
							object-fit: cover;
						/* 	align-items: center; */

						img{
							&.img-testimonio{
								width: 100%;
								height: auto;	
							}
						}

						p{
							&.paragraph-testimonio{
								text-align: center;
								width: 100%;
								padding: 1rem;
							}
						}
						h2{
							margin: 0;
						}
					}
				}
			}
		}
	}
		
	
	
		article{
			&.container-multidisiplinario{
				display: flex;
				width: 100%;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;

				div{
					&.item-multidisiplinario{
						width: 40%;
						height: 100%;
						object-fit: cover;
						border: thin solid var(--background-ligth);
						border-radius: 20px;
						margin-bottom: 2rem;
					}
				}
			}
		}
	
}



/* ------------------------------------ 8 ----------------------------------- */
@media screen and (max-width: 991.98px){
/* ------------------------------------ 8 ----------------------------------- */

		div{
			&.header-content{
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
			article{
				&.header-item{
					width: 90%;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
					flex-wrap: nowrap;
					margin: 0 auto;
					max-width: 100%;

					h1{
						font-size: 3rem;
						margin-bottom: 2rem;	
					}
					p{
						font-size: 1.2rem;
					}

					h2{
						font-size: 1.2rem;
					}

					img{
						margin: auto;
						width: 400px;
						height: 400px;
						max-width: 100%;	
					}

					div{
						&.mas-servicios{
							display: flex;
							justify-content: start;
							align-items: center;
							margin-top: 2rem;
							margin-bottom: 0rem;

							button{
								&.btn{
									position: relative;
									display: inline-block;
									width: auto;
									height: auto;
									background-color: transparent;
									border: none;
									cursor: pointer;
									margin: 0px 25px 15px;
									min-width: 170px;
								}
									.btn-1::before {
										background-color: rgb(28, 31, 30);
										transition: 0.3s ease-out;
										border-radius: 20px;
									}
									.btn-1 a {
										color: rgb(255, 255, 255);
										border: 1px solid rgb(28, 31, 30);
										transition: 0.2s 0.1s;
									}
									.btn-1 a:hover {
										color: rgb(28, 31, 30);
										transition: 0.2s 0.1s;
									}
									/* 4. hover-filled-slide-right */
									.btn.hover-filled-slide-right::before {
										top: 0;
										bottom: 0;
										right: 0;
										height: 100%;
										width: 100%;
									}
									.btn.hover-filled-slide-right:hover::before {
										width: 0%;
									}			
							}
						}
					}
				}
			}
		}   
	}

	div{
		&.servicios-principales{
			display: flex;
			flex-wrap: wrap;
			width: 90%;
			margin: auto;
			justify-content: center;
			margin-top: 6rem;
			
			article{
				&.servicio{
					width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					margin-top: 0%;
					padding: 1rem;

					p{
						margin: 0rem;	
						font-size: 1.2rem;
					}
				}
			}
		}
	}

	section{
		&.orientacion{
		display: grid;
		grid-template-columns: repeat(1, 100%);
		grid-template-rows: repeat(4, auto);
		grid-template-areas:
			'h2'
			'paragraph'
			'personales'
			'pymes';
		column-gap: 3rem;
		row-gap: 1rem;
		margin-bottom: 2rem;
		}
		p{
			font-size: 1.2rem;
		}
	}

	article{
		&.container-testimonios{
			display: flex;
			flex-direction: column;
			margin: auto;

			div{
					&.item-testimonio{
						width: 100%;
						background-color: var(--text-button);
						border: thin solid var(--background-ligth);
						object-fit: cover;
						border-radius: 20px;
						margin: 2rem auto;
						margin-bottom: 2rem;
						height: 100%;
						object-fit: cover;

					img{
						&.img-testimonio{
							width: 100%;
						}
					}

					p{
						&.paragraph-testimonio{
							width: 100%;
						}
					}
				}
			}
		}
	}

	section{
		&.section{
			margin:0;
		

			div{
				&.title-section{
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-top: 3rem;

					h2{
						font-size: 2rem;
					}
					p{
					width: 100%;
					}
					
				}
			}

			div{
				&.img-contact{
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					margin: auto;

					img{
						width: 100%;
						
					}
					

				}
			}
		}
	}

	section{
		
		form{
			&.container-contact{
				width: 90%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: auto;
				margin-bottom: 2rem;
			
				
				div{
					&.item-contact{
						width: 90%;	
					}
				}
			}
		}
	}
}

/* ------------------------------------ 8 ----------------------------------- */
@media screen and (max-width: 767.98px){
/* ------------------------------------ 8 ----------------------------------- */
		div {
			&.header-content{
			display: flex;
			width: 80%;
			height: auto;
			flex-direction: column;
			justify-content: space-evenly;

			article{
				&.header-item{
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
					flex-wrap: nowrap;
					margin: 1rem auto;
					max-width: 100%;

					img{
						width: 60%;
						max-width: 100%;
						height: auto;
					}

					p{
						margin-bottom: 1rem;
					}
				}
			}
		}
	}

	.servicio img{
		width: 200px;
	}

	div{
		&.servicios-principales{
			display: flex;
			flex-wrap: wrap;
			width: 90%;
			margin: auto;
			justify-content: center;
			margin-top: 6rem;
			
			article{
				&.servicio{
					width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					margin-top: 0%;
					padding: 1rem;

					p{
						margin: 0rem;	
					}
				}
			}
		}
	}

}

/* ------------------------------------ 8 ----------------------------------- */
@media screen and (max-width: 575.98px){
/* ------------------------------------ 8 ----------------------------------- */
	




	.section{
		margin: 1rem;
		
	}
	div{
		&.header-content{
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-top: 3rem;

			article{
				&.header-item{
					width: 80%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					flex-wrap: nowrap;
					margin: auto;
					max-width: 100%;

					h1{
						font-size: 2rem;
					}
					p{
						font-size: 1.0rem;
					}
					
					img{
						margin: auto;
						width: 200px;
						height: 200px;
						max-width: 100%;	
					}

					div{
						&.mas-servicios{
							display: flex;
							justify-content: start;
							align-items: center;
							margin-top: 0rem;
							margin-bottom: 0rem;

							button{
								&.btn{
									position: relative;
									display: inline-block;
									width: auto;
									height: auto;
									background-color: transparent;
									border: none;
									cursor: pointer;
									margin: 0px 25px 15px;
									min-width: 170px;
								}
									.btn-1::before {
										background-color: rgb(28, 31, 30);
										transition: 0.3s ease-out;
										border-radius: 20px;
									}
									.btn-1 a {
										color: rgb(255, 255, 255);
										border: 1px solid rgb(28, 31, 30);
										transition: 0.2s 0.1s;
									}
									.btn-1 a:hover {
										color: rgb(28, 31, 30);
										transition: 0.2s 0.1s;
									}
									/* 4. hover-filled-slide-right */
									.btn.hover-filled-slide-right::before {
										top: 0;
										bottom: 0;
										right: 0;
										height: 100%;
										width: 100%;
									}
									.btn.hover-filled-slide-right:hover::before {
										width: 0%;
									}
									
								
							}
						}
					}
				}
			}
		}
	}


	section{

		div{
			&.title-section{
				h2{
					font-size: 1.5rem;
				}
			}
		}
		div{
			&.servicios-principales{
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				margin: auto;
				justify-content: center;
				margin-top: 6rem;
				
				article{
					&.servicio{
						width: 90%;
						max-width: 100%;
						display: flex;
						flex-direction: column;
						justify-content: center;
						margin-top: 0%;
						padding: 1rem;

						h2{
							font-size: 1.5rem;
						}

						p{
							margin: 0rem;	
							font-size: 1rem;
						}

					}
				}
			}
		}
	}



	section{
		&.orientacion{
			display: grid;
		grid-template-columns: repeat(1, 100%);
		grid-template-rows: repeat(4, auto);
		grid-template-areas:
			'h2'
			'paragraph'
			'personales'
			'pymes';
		column-gap: 3rem;
		row-gap: 1rem;
		margin-bottom: 2rem;

		p{
			font-size: 1rem;
		}
		}
	}

	section{
		&.clientes{
			p{
				&.card-text{
					font-size: 1rem;
				}
			}
		}
	}

	.row {
		margin: 0;
		padding-left: 0;
		padding-right: 0;
	}

	section{

		&.section{
			margin: 2rem;
			padding: 1rem;
		}

	article{
		&.container-testimonios{
			display: flex;
			flex-direction: column;
			width: 100%;
		

				div{
						&.item-testimonio{
							width: 100%;
							background-color: var(--text-button);
							border: thin solid var(--background-ligth);
							object-fit: cover;
							border-radius: 20px;
							margin: 2rem auto;
							margin-bottom: 2rem;
							height: 100%;
							object-fit: cover;
						

						img{
							&.img-testimonio{
								width: 100%;
								height: auto;
							}
						}

						p{
							&.paragraph-testimonio{
								width: 100%;
							}
						}
					}
				}
			}
		}
	}


	div{
		&.hero-img-nosotros{
			div{
				&.hero-img-content{

					h1{
						font-size: 2rem;
					}
					h2{
						font-size: 2rem;
						color: white;
						margin-bottom: 1rem;
					}
				}
			}
		}
	}

	section{
		&.section{
			margin: 0rem;
		}
		&.sobre-nosotros{
			display: grid;                                                                                                         
			grid-template-areas:
				'grupo-especial'
				'para'
				'item1'
				'description1'
				'item2'
				'description2'
				'item3'
				'description3';
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(8, auto);
			column-gap: 2rem;
			row-gap: 1rem;

			img{
				width: 100%;
				height: auto;
				margin: 2rem auto;
			}
			p{
				font-size: 1rem;
			}
		}
	}

/* -------------------------------- Equipo-------------------------------- */
	div{
		&.hero-img-equipo{
			div{
				&.hero-img-content{
					h2{
						font-size: 2rem;
						color: white;
						margin-bottom: 1rem;
					}
				}
			}
		}
	}


		article{
			&.container-multidisiplinario{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				div{
					&.item-multidisiplinario{
						width: 90%;
						height: 100%;
						object-fit: cover;
						border: thin solid var(--background-ligth);
						border-radius: 20px;
						margin-bottom: 2rem;

						p{
							font-size: 1rem;
						}
					}
				}
			}
		}



	section{
		&.section{
			margin:0;
		

			div{
				&.title-section{
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-top: 3rem;

					h2{
						font-size: 1.5rem;
					}
					p{
					width: 100%;
					font-size: 1rem;
					}
					
				}
			}

			article{
				&.container-testimonios{
					div{
						&.item-testimonio{						
							p{
								font-size: 1rem;
							}
						}
					}
				}
			}

			div{
				&.img-contact{
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					margin: auto;

					img{
						width: 100%;
						
					}
					

				}
			}
		}
	}

	.container{
		width: 100%;
	}

	/* -------------------------------- contacto -------------------------------- */
	div{
		&.hero-img-contact{
			div{
				&.hero-img-content{
					h2{
						font-size: 1.5rem;
						color: white;
						margin-bottom: 1rem;
					}
				}
			}
		}
	}
	section{
		&.contact{
			h2{
				font-size: 1.5rem;
			}
		}
		
		form{
			&.container-contact{
				width: 90%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: auto;
				margin-bottom: 2rem;
			
				
				div{
					&.item-contact{
						width: 90%;	
					}
				}
			}
		}
	}

	section .servicios-principales .servicio .modalmask:target .modalbox {
		width: 320px;
			position: relative;
			padding: 5px 20px 13px 20px;
			background: #fff;
			border-radius: 3px;
			-webkit-transition: all 500ms ease-in;
			-moz-transition: all 500ms ease-in;
			transition: all 500ms ease-in;
	}

	#clear{
		margin-right: 1rem;
	}

}