
:root {
	--font: 'Catamaran', sans-serif;
	--color-text: #202020;
	--nav-heigth: 6rem;
	--color-button: #f59b00;
	--text-button: #fff;
	--text-second: #3f3d56;
	--background-ligth: #e6e6e6;
	--white-alpha-color: rgba(255, 255, 255, 0.5);
	--gray-dark-color: #666;
}