div{
    &.hero-img-contact{
        background-image: url(../assets/contact.jpg);
        width: 100%;
        min-height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        
        div{
            &.hero-img-content{
                min-height: inherit;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                opacity: 0.7;
                background-image: linear-gradient(135deg, #3f3d56 0%, #4959a3 100%); 

                h1,p{
                    width: 50%;
                    color: white;
                }
            }
        }
    }
}

section{
    &.section{
        margin: 4rem 4rem;

        div{
            &.title-section{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 3rem;
            }
        }

        div{
            &.img-contact{
                display: flex;
                justify-content: center;
                width: 100%;
                margin-top: 1rem;

                img{
                    width: 70%;
                    height: auto; 
                }
            }
        }
    }
}

section{
    &.contact{
        h2{
            &.title-section{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 3rem;
            }
        }
    }

    form{
        &.container-contact{
            display: flex;
            flex-wrap: wrap;
            width: 60%;
            margin: 2rem auto;
            justify-content: space-around;
            align-items: center;
            border: thin solid lightgrey;
            border-radius: 15px;
            padding: 2rem;
            background-image: linear-gradient(to left, #e6e6e6 0%, #bdbbbe 100%),
                radial-gradient(
                    88% 271%,
                    rgba(255, 255, 255, 0.25) 0%,
                    rgba(254, 254, 254, 0.25) 1%,
                    rgba(0, 0, 0, 0.25) 100%
                ),
                radial-gradient(
                    50% 100%,
                    rgba(255, 255, 255, 0.3) 0%,
                    rgba(0, 0, 0, 0.3) 100%
                );
            background-blend-mode: normal, lighten, soft-light; 
        }

        div{
            &.item-contact{
                width: 45%;
	            margin: 1rem auto;

                input{
                    width: 100%;
                    height: 2rem;
                    cursor: pointer;
                    border: thin solid lightslategrey;
                    border-radius: 20px;
                }

            select{
                    width: 100%;
                    height: 2rem;
                    border-radius: 20px;
                }
            }
        }

        div{
            &.container-textarea{
                width: 100%;
                margin: 1rem auto;
                border-radius: 20px;

                textarea{
                    width: 100%;
                }
            }
        }

        div{
            &.btn-form{
                display: flex;
                width: 50%;
                justify-content: space-around;
                margin-bottom: 3rem;  
            }
        }

        #submit {
            width: 140px;
            height: 2rem;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            background-image: linear-gradient(135deg, #3f3d56 0%, #4959a3 100%);
            color: var(--text-button);
        }
        #clear {
            width: 140px;
            height: 2rem;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            background-image: linear-gradient(135deg, #3f3d56 0%, #4959a3 100%);
            color: var(--text-button);
        }
    }
}