.hero-img-equipo{
    background-image: url(../assets/equipo.jpg);
	width: 100%;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
    
    .hero-img-content{
        min-height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        opacity: 0.7;
        background-image: linear-gradient(135deg, #3f3d56 0%, #4959a3 100%);
        
        h1{
            color:$color-button;
            text-align: center;
        
   
        }

        p{
            width: 50%;
            color: white;
        }
    }
  
}

section{

    &.section{
        margin: 4rem 4rem;
    }
    .title-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;


        p{
            width: 80%;
            margin-top: 2rem;
            margin-bottom: 2rem;
            text-align: center;
        }
    }

    article{
        &.container-multidisiplinario{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 4rem;

            .item-multidisiplinario{
                width: 30%;
                height: 100%;
                object-fit: cover;
                border: thin solid $background-ligth;
                border-radius: 20px;
                margin-bottom: 3rem;

              h3 {
                    text-align: center;
                    padding-bottom: 1rem;
                    color:$color-text;
                }
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 20px;
                }
            }

            .shadow-center{
                box-shadow: -2px 12px 38px -2px rgba(0, 0, 0, 0.7);

                .paragraph-multidisiplinario{
                    margin: auto;
                    width: 70%;
                    text-align: center;
                    color:$color-text;
                }

            }

        }
    }
}

section{
    article{
        &.hero-image{
            background-image:var(--hero-image);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: var(--hero-attachment);
            
            aside{
                &.hero-image-opacity{
                    width: 100%;
                    min-height: 100vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    opacity: 0.6;
                    background-image: linear-gradient(135deg, #3f3d56 0%, #4959a3 100%);  

                    div{
                        &.hero-image-content{
                            width: 100%;
                            min-width: 320px; 

                            div{
                                &.container{
                                    margin-left: auto;
                                    margin-right: auto;
                                    max-width: 1200px;

                                    h2{
                                        &.section-title{
                                            color: $text-button;  
                                        }
                                    }
                                    article{
                                        &.carousel{
                                            margin: 2rem auto;
                                            padding: 2rem 0;
                                            max-width: 800px;
                                            text-align: center;
                                            overflow-x: hidden;
                                            background-color:$color-button; 
                                        }

                                         input {
                                            display: none;
                                        }

                                        label {
                                            border: medium solid $gray-dark-color;
                                            border-radius: 50%;
                                            margin: 0 0.3rem;
                                            display: inline-block;
                                            width: 0.75rem;
                                            height: 0.75rem;
                                            cursor: pointer;
                                        }

                                        ul{
                                            &.slides{
                                                padding-left: 0;
                                                width: 400%;
                                                display: flex;
                                                list-style: none;
                                                transition: transform 0.9s ease-in-out;
                                                animation: carousel-slide 12s ease-in-out 6s infinite; 
                                                
                                                li{
                                                    &.slide{
                                                        width: 60%;
                                                    
                                                        img{
                                                            &.avatar{
                                                                border-radius: 50%;
                                                                width: 150px;
                                                                height: 150px; 
                                                            }
                                                        }

                                                        h3{
                                                            &.text-first-color{
                                                                color:$gray-dark-color; 
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@keyframes carousel-slide {
	0% {
		transform: translateX(0%);
	}

	25% {
		transform: translateX(-25%);
	}

	50% {
		transform: translateX(-50%);
	}
	75% {
		transform: translateX(-75%);
	}
}

#slide-1:checked ~ .slides {
	transform: translateX(0%);
}
#slide-2:checked ~ .slides {
	transform: translateX(-25%);
}
#slide-3:checked ~ .slides {
	transform: translateX(-50%);
}

#slide-4:checked ~ .slides {
	transform: translateX(-75%);
}

#slide-1:checked ~ .slides-nav label#dot-1,
#slide-2:checked ~ .slides-nav label#dot-2,
#slide-3:checked ~ .slides-nav label#dot-3,
#slide-4:checked ~ .slides-nav label#dot-4 {
	background-color:$gray-dark-color;
}



